asgiref
backcall
celery[redis]
decorator
Django
channels[daphne]
channels_redis
django-cors-headers
django-filter
redis
django-redis
djangorestframework
ipython
ipython-genutils
jedi
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
Pygments
PyJWT
pytz
six
sqlparse
traitlets
wcwidth
cryptography
exponent_server_sdk
python-dateutil
djangorestframework-simplejwt
sorl-thumbnail